
html {
    margin: 0;
    padding: 0;
    text-align: center;
}
/*body dark theme
    background-color: #121015;
    color: white;
*/
body {
    background-color: #F5F4F7;
    margin: 0;
    padding: 0;
}

/* dark theme link color
    color: #e4e3e0
*/
a {
    color: #3a2d2d;
    text-decoration: underline;
}
a:hover{
  text-shadow: 1px 1px 1px purple;
}


/* mobile */
@media all and (max-width: 799px) and (min-width: 220px) {
  nav {
    border-right: solid 15px transparent;
    border-left: solid 15px transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .left_align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-size: 12px;
    padding: 0;
    margin: 0;
  }
  .right_align {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  a{
    font-size: 12px;
  }
  #reset{
    margin: 0;
    padding: 0;
    height: 25px;
    width: 25px;
  }

  #lightTheme, #darkTheme {
    width: 5px;
    height: 5px;
  }
  .tools_bar {
    border-right: solid 15px transparent;
    border-left: solid 15px transparent;
  }

}



/* nav dark theme
    background-color: #3a3842
    color: #efeeeb
*/

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #EBEAEE;
    padding-left: 10px;
    color: #616062;
    margin-bottom: 2px;
    width: 100%;
    height: 3em;
    justify-content: center;

}
div {
    display: flex;
    flex-direction: inherit;
    padding: 10px;
    border-radius: 10%;
}
form {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
}
.right_align {
    display: flex;
    align-content: center;
    justify-content: center;
}
.left_align {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-right: auto;

}
    nav h4 {
        align-self: flex-start;

    }
    nav a{
        align-self: flex-end;
        padding-left: 10px;
        padding-right: 2px;
        text-decoration: none;

    }

main {
    border: none;
    margin-top: 25vh;
    margin-right: 10vw;
    width: 100vw;
    padding: 0;
}
img {
    border: none;
    padding: 10px;
}

/* Dark theme color: #181f27 */
.tools_bar {
    margin: 0;
    padding: 0;
    width: 100vw;
    border-bottom: solid 1px purple;
    border-top: solid 1px purple;
    border-radius: initial;
    background-color: #f5f6f7;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    z-index: 10;
}

    .tools_bar input {
        display: flex;
        justify-content: space-evenly;
        padding: 8px;
        margin: 0;
        border-radius: 10px;
        text-align: center;
        border: none;
        width: 20vw;
    }

#reset_box {
  display: block;
}

#reset_box:hover .hidden{
  display: flex;
}

.hidden {
  display: none;
  margin: 0;
  padding: 0;
  background: inherit
  color: inherit;
  text-shadow: 2px 3px 5px pink;
}

#reset {
    background-image: url('undo-7.png');
    background-size:contain;
    width: 45px;
    height: 45px;


}


#search, #type_something {
  margin-right: 10px;
  box-shadow: 1px 1px 1px grey;
}
/* for selecting a font size to display fetched google fonts in.*/
select {
    font-size: 1em;
    font-family: 'Bebas Neue', cursive;
    height: auto;
    width: auto;
    border-radius: 20%;
    margin: auto;
    margin-left: 5px;
}

option #12px {
    font-size: 12px;
    font-weight: normal;
}
option #24px {
    font-size: 24px;
    font-weight: bold;
}
option #32px {
    font-size: 32px;
    font-weight: bolder;
}
footer {
    border-top: solid 1px white;
    background-color: #EBEAEE;
    color: #616062;
}

/*
    the font_cards need to inherit the background  and font color
    to apply the dark theme to every incoming load for a font.
*/
.FontDeck {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  align-items: center;
  justify-content: space-evenly;

}

.font_card {
    display: flex;
    flex-direction: column;
    width: 20vw;
    max-width: 50vw;
    border-top: 2px solid grey;
    background: inherit;
    color: inherit;
    flex-wrap: wrap;
    overflow-wrap: break-word;

}
.font_card h3 {
  max-width: 20vw;
  word-wrap: normal;
  white-space: normal;
  font-size: 12px;
  overflow-wrap: break-word;
}

.font_card h2{
  font-size: 18px;
  overflow-wrap: break-word;
}


/*
    for checkbox to change the page between light/dark themes
*/
.themes {
    background-color: #e2dfe2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    margin: auto;
}
#lightTheme {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: white;
    border: solid 1px black;
    box-shadow: -1px 3px rgba(10, 1, 10, 0.3);
    margin-right: 5px;

}
#darkTheme {
    -webkit-appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: black;
    box-shadow: rgba(228, 228, 228, 0.4) 4px 5px inset;
    border: solid 1px purple;
    box-shadow: -1px 3px rgba(10, 1, 10, 0.3);
}
